body{ 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    background-color: rgb(80, 96, 185);
}

img{ 
    height: 550px; 
    width: 550px; 
    display: block; 
    margin: auto;
}     

footer{ 
    background-color: rgb(80, 96, 185); 
    padding: 20px; 
    margin: 0; 
}     

.main-headline{ 
    text-align: center; 
    font-size: 35px; 
    background-color: rgb(80, 96, 185); 
    padding: 20px; 
    margin: 0; 
} 

.title{ 
    text-align: center; 
    font-size: 25px; 
    color: rgb(255, 255, 255); 
    background-color: rgb(148, 162, 236); 
    padding: 20px; 
    width: 510px; 
    display: block; 
    margin: auto;

} 

.content{ 
    font-size: 15px; 
    line-height: 30px; 
    text-indent: 10px; 
    text-align: justify; 
    background-color: rgb(192, 203, 221); 
    width: 550px; 
    padding: 10px 0; 
    display: block; 
    margin: auto; 

} 
    
.container{ 
    background-color: rgb(255, 255, 255); 
}
    